h1 {
    text-align: center;
}

#right, #left{
margin: 20px;
padding: 20px;
background: grey;
width: 100%;
}
#winsText{
color: lightgreen;
}
#lossesText{
color: red;
}
#guessesLeftText{
color:orangered;
}
#guessSoFarText{
color: lightblue;
}
body {
    background-color: black;
}
h1, h2, p {
text-align: center;
}
h1, h2, p, .winsText, .lossesText, .guessesLeftText, .guessSoFarText {
    color: white;
}
#psych {
    position: relative;
    left: 550px;
}